body {
  background-color: rgb(49, 48, 48) !important;

}

#header {
  color: rgb(255, 115, 0);
}

* {
  font-family: 'Calibri', sans-serif;
  font-size: 19pt;
  color: gray;
}

a:hover {
  color: #b4ceeb;
}

#content_border {
  border: 2px solid black;
  padding: 20px;

}

.contact {
  font-family: 'Calibri', sans-serif;
  font-size: 24pt;
  color: gray;
}

#content_border2 {
  border: 2px solid black;
  padding: 10px;
}

#skills {
  p {
    color: rgb(223, 194, 96);
  }

}

.subheader1 {
  font-style: italic;
  color: rgb(241, 152, 42);
}

#subheader {
  color: rgb(244, 190, 14);
}

.responsive-iframe {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* Aspect ratio */
  height: 0;
  background-color: transparent;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* Aspect ratio */
  height: 0;
  background-color: transparent;
}

.responsive-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
}

.container {
  position: relative;
  width: 100%;

}

#profile {
  width: 75%;
  height: auto;
}









#Knowledge {
  width: 125px;
  height: auto;
}




.row {
  display: flex;
}

@media screen and (min-width: 600px) {
  .column {
    flex: 50%;
  }
}

.column {
  flex: 100%;
  padding: 3px;
}

.construction {
  width: 5%;
  height: auto;

}


.box {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 500px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.box:hover .image {
  opacity: 0.3;
}

.box:hover .middle {
  opacity: 1;
}

.text {
  background-color: #062548;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}